In [1]:
import pandas as pd

tabela = pd.read_excel("tabela_alunos.xlsx")
display(tabela)

                                  Nome Atividade       Data      Hora
0        Maria Luiza Camargo Gonçalves    Entrou 2023-08-24  18:38:00
1              Izaura dos Santos Souza    Entrou 2023-08-24  18:38:00
2         William Lourenço de Oliveira    Entrou 2023-08-24  18:38:00
3          Fernando Marques dos Santos    Entrou 2023-08-24  18:38:00
4              Felipe de Souza Freitas    Entrou 2023-08-24  18:38:00
5              Felipe de Souza Freitas      Saiu 2023-08-24  19:59:00
6              Felipe de Souza Freitas    Entrou 2023-08-24  20:01:00
7                  Rayssa Barros Alves    Entrou 2023-08-24  18:38:00
8   Carolina Aparecida Henriques Prado    Entrou 2023-08-24  18:38:00
9          Cauan Menezes de Matos Luiz    Entrou 2023-08-24  18:38:00
10         Cauan Menezes de Matos Luiz      Saiu 2023-08-24  19:22:00
11         Cauan Menezes de Matos Luiz    Entrou 2023-08-24  19:22:00
12                 Hyago Martinez Rubo    Entrou 2023-08-24  18:38:00
13            Kaique Donizeti da Silva    Entrou 2023-08-24  18:38:00
14           Maria Elyza Andrade Silva    Entrou 2023-08-24  18:38:00
15           Maria Elyza Andrade Silva      Saiu 2023-08-24  20:16:00
16         Thiago Cauan de Lima Santos    Entrou 2023-08-24  18:38:00
17                Beatriz Lemos Soares    Entrou 2023-08-24  18:38:00

Contando quantos alunos estavam presentes na aula do dia 24/08 na Turma H

In [23]:
nomes_sem_repetir = tabela.drop_duplicates(subset='Nome')


alunos_presentes = len(nomes_sem_repetir)

print(f'Quantidade de alunos presentes no dia 24/08: {alunos_presentes}')

novo_dataframe = nomes_sem_repetir[['Nome', 'Hora', 'Atividade']]


novo_dataframe.to_excel('arquivo_alunos_presentes.xlsx', index=False)

planilha_presentes = pd.read_excel("arquivo_alunos_presentes.xlsx")
display(planilha_presentes)

Quantidade de alunos presentes no dia 24/08: 13

                                  Nome      Hora Atividade
0        Maria Luiza Camargo Gonçalves  18:38:00    Entrou
1              Izaura dos Santos Souza  18:38:00    Entrou
2         William Lourenço de Oliveira  18:38:00    Entrou
3          Fernando Marques dos Santos  18:38:00    Entrou
4              Felipe de Souza Freitas  18:38:00    Entrou
5                  Rayssa Barros Alves  18:38:00    Entrou
6   Carolina Aparecida Henriques Prado  18:38:00    Entrou
7          Cauan Menezes de Matos Luiz  18:38:00    Entrou
8                  Hyago Martinez Rubo  18:38:00    Entrou
9             Kaique Donizeti da Silva  18:38:00    Entrou
10           Maria Elyza Andrade Silva  18:38:00    Entrou
11         Thiago Cauan de Lima Santos  18:38:00    Entrou
12                Beatriz Lemos Soares  18:38:00    Entrou

Separando os alunos que tiveram problema de conexão no dia 24/08

In [6]:
import pandas as pd

tabela = pd.read_excel("tabela_alunos.xlsx")

cairam = tabela[tabela['Atividade'] == 'Saiu']

nomes_sairam = cairam[['Nome', 'Atividade']]

nomes_sairam.to_excel('alunos_cairam.xlsx', index=False)

planilha_alunos_cairam = pd.read_excel("alunos_cairam.xlsx")


display(planilha_alunos_cairam)

quantidade_alunos_sairam = len(planilha_alunos_cairam)

print(f'Quantidade de alunos que cairam: {quantidade_alunos_sairam}')

                          Nome Atividade
0      Felipe de Souza Freitas      Saiu
1  Cauan Menezes de Matos Luiz      Saiu
2    Maria Elyza Andrade Silva      Saiu

Quantidade de alunos que cairam: 3